.container{
	position: fixed;
	width: 53.5%;
	height: 85%;
	margin: 1% 22% 0% 22%;
	padding-top: 0.1%;
	overflow: hidden;
}

.results{
	background-color: rgba(230,230,230, 1);
	border-style: solid;
	text-align: left;
	padding: 1% 1%;
	margin-top: -6%;
	height: 87%;
	overflow: scroll;
}
