<div id="container" class="page container">

	<!-- search bar -->
	<input class="page-search-bar" type="text" placeholder="Research here" value="">

	<!-- results -->
	<div class="results">
		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
	</div>
</div>
