<div id="container" class="page container">

	<!-- search bar -->
	<input class="page-search-bar" type="text" placeholder="Research here" value="">

	<!-- results -->
	<div class="results">
		<div class="page-section">
			<span class="section-url1"> https://www.jurassic-world.com </span>
			<span class="section-url2"> > carcharodontosaurus </span><br>
			<a class="section-link" href="https://www.jurassic-world.com/carcharodontosaurus"> Carcharodontosaurus (Carcharodontosaure) : tout sur ce ...</a><br>
			<span class="section-text"> Carcharodontosaurus (Carcharodontosaure). Le dinosaure Carcharodontosaurus est un carnivore de la famille des carcharodontosaurids qui a vécu il y a 93 à ... </span>
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
		<br>

		<div class="page-section">
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.<br>
			Blablabla blablabla blabla.
		</div>
	</div>
</div>
