.container{
	position: absolute;
	top: 10%;
	right: 1%;
	height: 70%;
	opacity: 0.6;
}

.results{
	background-color: rgba(230,230,230, 1);
	border-style: solid;
	position: absolute;
	text-align: left;
	padding: 1% 1%;
	width: 85%;
	height: 85%;
	overflow-y: scroll;
}
