.main_false{
    height: 100%;

    display: none;
}

.main_true{
    height: 100%;

    display: flex;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}
