.init-button{
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 25px;
    padding: 2% 2%;
    margin-top: 1%;
    font-weight: bold;
}

.init-button span, .init-button span:visited, .init-button span:active {
    color: inherit;
    text-decoration: none;
}

.init-button span:hover{
    color: rgb(255, 217, 0);
}

.popup{
    display: none;
}

.init-button span:hover + .popup{
    display: block;
    font-size: 10px;
    margin-top: 2%;
    color: rgb(255,255,255);
}



.title{
    text-shadow: -8px 8px 16px rgb(  0,  0, 50);
}



.container-true{
    display: none;
}

.container-false{
    background-image: url("../../assets/images/1st_page_bg.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    justify-content: center;
    height: 100%;
    width: 100%;

    display: flex;
}

.middle-box{
    background: rgba(80, 0,80, 0.3);
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.8);

    color: white;
    font-size: 40px;
    font-family: Montserrat;
    margin-top: 1%;
    padding: 1% 1%;
    width: 40%;
    height: 45%;
    text-align: center;
    font-weight: bold;
}