.container{
	position: absolute;
	top: 10%;
	right: 1%;
	height: 70%;
	opacity: 0.6;
}

.results{
	background-color: rgba(230,230,230, 1);
	border-style: solid;
	position: absolute;
	text-align: left;
	padding: 1% 1%;
	width: 85%;
	height: 85%;
	overflow-y: scroll;
}


/* sections */
.section-url1{
	font-size: 10px;
	font-weight: bold;
	color: rgba(  0,  0,  0, 1);
}

.section-url2{
	font-size: 10px;
	color: rgba( 80, 80, 80, 1);
}

.section-link{
	font-size: 12px;
	color: rgba(  0,  0,255, 1);
}

.section-text{
	font-size: 10px;
	font-style: italic;
	color: rgba( 80, 80, 80, 0.8);
}